<mat-card class="property-details-card">
  <mat-card-header class="fixed-header">
    <mat-card-title>Property Details</mat-card-title>
  </mat-card-header>
  <mat-card-content class="scrollable-content">
    <div class="details-container">
      <div class="img-container">
        <img [src]="propertyImagesURLs" alt="Property Image not available">
      </div>
      <div class="detail-item">
        <span class="detail-label">Address:</span>
        <span class="detail-value">{{ data?.address }}</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Description:</span>
        <span class="detail-value">{{ data?.description }}</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Rent Price:</span>
        <span class="detail-value">{{ data?.rentPrice | currency }}</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Status:</span>
        <span class="detail-value">{{ data?.status }}</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Manager Name:</span>
        <span class="detail-value" style="font-weight:bold">{{ managerName }}</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Equipments:</span>
        <div class="styled-list">
          <div *ngFor="let equipment of data?.propertyEquipments" class="styled-list-item">
            <span>{{ equipment }}</span>
          </div>
        </div>
      </div>
      <div class="detail-item">
        <span class="detail-label">Tenants:</span>
        <p *ngIf="(data?.tenantsIDS?.length || 0) === 0">No tenants assigned</p>
        <div class="styled-list">
          <div *ngFor="let tenant of tenantNames" class="styled-list-item">
            <span>{{ tenant }}</span>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="footer-actions">
    <button mat-raised-button color="primary" mat-dialog-close class="cancel-button">Cancel</button>
    <div class="action-buttons">
      <button *ngIf="data?.status === 'AVAILABLE'" mat-raised-button color="accent" (click)="onRent()">Rent</button>
      <button *ngIf="data?.status === 'OCCUPIED'" mat-raised-button color="accent" (click)="viewTenant()">See Tenant</button>
    </div>
  </mat-card-actions>
</mat-card>
