<mat-toolbar color="primary">
<button mat-icon-button (click)="drawer.toggle()">
  <mat-icon>menu</mat-icon>
</button>
  <span class="spacer"></span>
  <button mat-button routerLink="/AppUser/home">Home</button>
  <button mat-button routerLink="/AppUser/profile">Profile</button>
    <button mat-raised-button color="accent" (click)="handleLogout()" routerLink="/user/login">Logout</button>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer #drawer position="start" mode="side" opened>
    <mat-nav-list>
      <mat-list-item>
        <button mat-button routerLink="/AppUser/dashboard">
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/AppUser/tenant">
          <mat-icon>people</mat-icon>
          Tenants
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/AppUser/property">
          <mat-icon>homes</mat-icon>
          property
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="min-height:600px">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
